/* -------webkit-scrollbar--------- */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background-color: red;
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
::-webkit-scrollbar-button{
  background-color: slateblue;
}
/* ------------------ */
/* PAGE */
.page{
  min-height: 100%;
}


/* ----------   HEADER */
.page__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  z-index: 10;
  background-color: hsl(0, 46%, 65%);
}

.header__container {
  max-width: 1200px;
  height: 100px;
  
  margin: 0 auto;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;

  transition: height .5s linear;
}
.header__logo{
  position: relative;
}
.header__logo img{
  position: absolute;
  top: 40px;
  width: 40rem;
  left: 30rem;

  z-index: 5;
  
  transition: width .5s linear, left .5s linear;
}

.page__header .header__logo img{
  top: -40px;
  left: 0;
  width: 7rem;

  transition: width .5s linear, left .5s linear;
}



.menu__icon {
  display: none;
}

.menu__link:hover {
  text-decoration: underline;
}
.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}
.menu__link {
  color: antiquewhite;
  font-size: 2rem;
}

/* PREPARE CLASS BEFORE */

.section__title{
  text-align: center;
  font-size: 3rem;
  padding-top: 2%;
  margin-bottom: 2%;
}


/* ---------- WORK WITH NAV-BAR AN SCRIPT */

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__list li {
  display: flex;
  align-items: center;
}

.menu__body._active {
  transform: translate(0, 0);
}



/* MAIN PAGE */

section{
  height: 90vh;
  
  border-bottom: 2px solid black;
}

/* COVER */
.cover{
  height: 100vh;
    margin-top: 100px;
    background-color: #C0EDEA;

    position: relative;
}


.cover__label{
  height: 10vh;

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: hsl(176, 56%, 60%);
}

.cover__label.fixed{
  position: fixed;
  top: 100px;
  width: 100%;
  height: 10vh;

  z-index: 100;

}


/* ABOUT */
.about{
  height: 90vh;
  position: relative;
  background-color: hsl(115, 56%, 84%);
}

.about__label{
  height: 10vh;

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: hsl(115, 56%, 60%);
}

.about__label.fixed{
  position: fixed;
  top: calc(100px + 10vh);
  width: 100%;
  height: 10vh;

  z-index: 100;

}




/* PRICING*/
.pricing{
  background-color: hsl(33, 56%, 84%);
  height: 80vh;
  position: relative;
}

.pricing__label{
  height: 10vh;

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: hsl(33, 56%, 60%);
}

.pricing__label.fixed{
  position: fixed;
  top: calc(100px + 20vh);
  width: 100%;
  height: 10vh;

  z-index: 100;

}



/* CONTACT */
.contact{
  height: 70vh;
  position: relative;
  background-color: hsl(300, 56%, 84%);
    margin-bottom: 50vh;
}

.contact__label{
  height: 10vh;

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: hsl(300, 56%, 60%);
}

.contact__label.fixed{
  position: fixed;
  top: calc(100px + 30vh);
  width: 100%;
  height: 10vh;

  z-index: 100;

}

.label__link{
  cursor: pointer;
}





/* FOOTER */
.page__footer{

  overflow-y: hidden;
  width: 100%;
  height: 50vh;
  background-color: black;

  position: fixed;
  z-index: -2;
  bottom: 0;
  left: 0;
}

.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__block > span{
    color: #fff
}











/* ---------- MEDIA QUERIS */
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }

}


@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon > span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    transition: all .5s ease;
    background-color: azure;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon > span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .menu__icon._active span{
    opacity: 0;
    transform: scale(0);
  }
  .menu__icon._active:before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -40%);
  }
  .menu__icon._active:after{
    top: 50%;
    transform: rotate(45deg) translate(0, 40%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left .5s ease;
    overflow: auto;
    
  }
  .menu__body._active{
    left:50%;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: salmon;
    position: fixed;
    z-index: 2;
  }


  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list .menu__link {
    font-size: 3rem;
  }
  
}